---

---

<div class="flex flex-col gap-14" id="links">
  <h2 class="text-center text-4xl font-bold text-secondary-foreground">
    Links
  </h2>
  <div class="flex flex-wrap justify-center gap-12">
    <a href="https://github.com/10tera" target="_blank" rel="noreferrer">
      <img src="/githubIcon.svg" alt="Github Icon" class="size-12" />
    </a>
    <a href="https://x.com/10tera1" target="_blank" rel="noreferrer">
      <img src="/xIcon.svg" alt="X Icon" class="size-12" />
    </a>
    <a href="https://zenn.dev/10tera" target="_blank" rel="noreferrer">
      <img src="/zennIcon.svg" alt="Zenn Icon" class="size-12" />
    </a>
    <a href="https://qiita.com/10tera" target="_blank" rel="noreferrer">
      <img src="/qittaIcon.png" alt="Qitta Icon" class="size-12" />
    </a>
  </div>
</div>
