---
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";
import { GraduationCapIcon, BriefcaseIcon } from "lucide-react";
---

<Card className="w-full max-w-[600px]">
  <CardHeader>
    <CardTitle>Career</CardTitle>
  </CardHeader>
  <CardContent className="flex flex-col gap-4">
    <div class="flex gap-4">
      <div class="flex flex-col items-center">
        <BriefcaseIcon size={32} />
        <div class="h-full w-px bg-gray-300 dark:bg-gray-600"></div>
      </div>
      <div class="flex flex-col gap-2">
        <p>2024 - 現在</p>
        <h4>フロントエンドエンジニア</h4>
        <p>株式会社ゆめみ</p>
      </div>
    </div>
    <div class="flex gap-4">
      <div class="flex flex-col items-center">
        <GraduationCapIcon size={32} />
        <div class="h-full w-px bg-gray-300 dark:bg-gray-600"></div>
      </div>
      <div class="flex flex-col gap-2">
        <p>2019 - 2024</p>
        <h4>工学系準学士</h4>
        <p>National Institute of Technology Gifu College</p>
      </div>
    </div>
  </CardContent>
</Card>
