---
import ReactIcon from "@/components/icons/react.astro";
import TypeScriptIcon from "@/components/icons/typescript.astro";
import JavaScriptIcon from "@/components/icons/javascript.astro";
import NextjsIcon from "@/components/icons/nextjs.astro";
import CsharpIcon from "@/components/icons/csharp.astro";
import PythonIcon from "@/components/icons/python.astro";
import HTMLIcon from "@/components/icons/html.astro";
import CSSIcon from "@/components/icons/css.astro";
import EmotionIcon from "@/components/icons/emotion.astro";
import MaterialUiIcon from "@/components/icons/materialui.astro";
import DockerIcon from "@/components/icons/docker.astro";
import TailwindCssIcon from "@/components/icons/tailwind.astro";
import AstroIcon from "@/components/icons/astroIcon.astro";
import ViteIcon from "@/components/icons/vite.astro";
import MySQLIcon from "@/components/icons/mysql.astro";
import GraphQLIcon from "@/components/icons/graphql.astro";
import ElectronIcon from "@/components/icons/electron.astro";
import FigmaIcon from "@/components/icons/figma.astro";
import SkillItem from "@/components/Home/Skills/SkillItem/index.astro";
---

<div class="flex w-full flex-col items-center gap-14" id="skills">
  <h2 class="text-center text-4xl font-bold text-secondary-foreground">
    Skills
  </h2>
  <div
    class="flex w-full max-w-[600px] flex-wrap items-center justify-center gap-8"
  >
    <SkillItem skillName="TypeScript">
      <TypeScriptIcon />
    </SkillItem>
    <SkillItem skillName="JavaScript">
      <JavaScriptIcon />
    </SkillItem>
    <SkillItem skillName="React">
      <ReactIcon />
    </SkillItem>
    <SkillItem skillName="Next.js">
      <NextjsIcon />
    </SkillItem>
    <SkillItem skillName="AStro">
      <AstroIcon />
    </SkillItem>
    <SkillItem skillName="C#">
      <CsharpIcon />
    </SkillItem>
    <SkillItem skillName="Python">
      <PythonIcon />
    </SkillItem>
    <SkillItem skillName="HTML">
      <HTMLIcon />
    </SkillItem>
    <SkillItem skillName="CSS">
      <CSSIcon />
    </SkillItem>
    <SkillItem skillName="GraphQL">
      <GraphQLIcon />
    </SkillItem>
    <SkillItem skillName="Emotion">
      <EmotionIcon />
    </SkillItem>
    <SkillItem skillName="Tailwind CSS">
      <TailwindCssIcon />
    </SkillItem>
    <SkillItem skillName="Material UI">
      <MaterialUiIcon />
    </SkillItem>
    <SkillItem skillName="Figma">
      <FigmaIcon />
    </SkillItem>
    <SkillItem skillName="Docker">
      <DockerIcon />
    </SkillItem>
    <SkillItem skillName="Vite">
      <ViteIcon />
    </SkillItem>
    <SkillItem skillName="MySQL">
      <MySQLIcon />
    </SkillItem>
    <SkillItem skillName="Electron">
      <ElectronIcon />
    </SkillItem>
  </div>
</div>
